#cabecalho {
	background-color: black;
}

#titulo {
    color: black;
    text-align: center;
}

#login {
	color: black;
	text-align: left;
}

#fonte {
	font-family: "Agency FB";
}

#centralizar {
    text-align:center;
}

#container {
    margin: 5px 128px 0 128px;
}

.text-center {
    margin-top: 10px;
    padding:16px;
}
